
  <%= form_with(model: [@board, @list], local: true, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label "List Title" %>
      <%= f.text_field :title, required: true, class: "input" %>
    </div>
    <div class="field">
      <%= f.label "Priority" %>
      <%= f.number_field :priority, required: true, class: "input" %>
    </div>
  <%= f.submit nil, class: "ui blue button" %>
  <% end %>