<h1><%= @board.title %></h1>
<hr />
<%= link_to "Create a New List", new_board_list_path(@board), class: "ui green button"%>
<br />
<br />
<div class = "ui three column grid">
  <% @lists.each do |l| %>
    <div class = "column">
      <div class = "ui fluid card">
        <div class = "card">
          <div class = "content">
              <h2 class = "center aligned header"><%= l.title %></h2>
              <div class = "description">
                <% l.tasks.each do |t| %>  
                <li class = "t_title">
                  <%= t.title %><br /><%= button_to "Delete Task", [l, t], method: :delete, class: "t_btn" %> 
                </li>
                <% end %>
              </div>
          </div>
          <%= link_to "Add Task", new_list_task_path(l), class: "ui buttom attached button" %>
          <%= link_to "Delete LIST", [@board, l], method: :delete, class: "ui red buttom attached button" %>
        </div>
      </div>
    </div> 
  <% end %>
</div>