
<%=  form_with(model: [@list, @task], local: true, class: "ui form") do |f|%>
    <div class="field">
    <%= f.label :task_name %>
    <%= f.text_field :task_name, required: true, placeholder: "Task Name" %>
    </div>
    <div class="field">
    <%= f.label :task_description %>
    <%= f.text_field :task_description, required: true, placeholder: "Description" %>
    </div>
    <div class="field">
    <%= f.label :task_priority %>
    <%= f.text_field :task_priority, required: true, placeholder: "Priority" %>
    </div>
    <%= f.submit nil, class: "ui blue button" %>
    <% end %>