
<div class="ui card">
    <div class="content">
    <p class="header"><%= "Task:" %>
    <p class="header"><%= @task.task_title %>
    </p>
    
    <li><h3><%= "Priority: " %><%=@task.priority%></h3></li>
    <li><h4><%= "Description: " %><%=@task.description%></h4></li>
    </ul>
    
    <%= link_to "Edit", edit_list_task_path(@list, @task), class: "ui green button" %>
    <%= link_to "Delete", board_path(@list, @task), method: :delete, class: "ui red button" %>
